# Dependenciesnode_modules/.pnp.pnp.js# Testingcoverage/# Productionbuild/dist# Environment variables.env.env.local.env.development.local.env.test.local.env.production.local.env.validate# Uploadsuploads/assets/*uploads/compose/*# Database*.db*.sqlite# Logs*.lognpm-debug.log*yarn-debug.log*yarn-error.log*# IDE.vscode/.idea/# OS.DS_StoreThumbs.db# Prismaprisma/migrations/# Mobilemobile/node_modules/mobile/.expo/mobile/dist/# Miniappminiapp/node_modules/miniapp/dist/miniapp/.temp/